body {
  font-family: "Inconsolata", monospace;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #202020;
  color: white;
  text-align: center;
}
h1 {
  font-family: "nono sans";
  font-family: "Roboto";
  font-weight: 700;
}
h2 {
  font-size: 20px;
}
ul {
  list-style-type: none;
  text-align: left;
}

a {
  color: grey;
}
a:hover {
  color: white;
  text-decoration: none;
  font-family: "roboto";
}
.btn {
  border-radius: 50px;
}

.homepageImage {
  background-image: url("../images/homepage.JPG");
  filter: grayscale(100%);
}
.row {
  text-align: center;
}
.rounded {
  margin: 10px auto;
  padding: auto;
  width: 200px;
  filter: grayscale(100%);
}
.rounded:hover {
  filter: none;
}
.img-fluid {
  margin: 10px auto;
  padding: auto;
  width: 200px;
  filter: grayscale(100%);
}
.img-fluid:hover {
  filter: none;
}
.poem {
  display: block;
  margin: 10px 100px 10px 100px;
}

#insta {
  font-size: 30px;
}
#portrait {
  width: 100%;
  display: flex;
  margin-top: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  filter: grayscale(100%);
}
#portrait:hover {
  filter: none;
}
#aboutPage {
  border: grey solid 2px;
  border-radius: 10px;
  margin-top: 10px;
}
@media (min-width: 900px) {
  .homepageImage {
    display: center;
    background-size: cover;
  }
}
@media (max-width: 900px) {
  .formatHomepage {
    display: none;
  }
  #cv {
    display: none;
  }
}
