body {
  font-family: "Inconsolata", monospace;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #202020;
  color: white;
  text-align: center;
}
h1 {
  font-family: "nono sans";
  font-family: "Roboto";
  font-weight: 700;
}
h2 {
  font-size: 20px;
}

a {
  color: grey;
}
a:hover {
  color: white;
  text-decoration: none;
  font-family: ;
}
.btn {
  border-radius: 50px;
}

.homepageImage {
  background-image: url("../images/homepage.JPG");
  filter: grayscale(100%);
}
.row {
  text-align: center;
}
.rounded {
  margin: 10px auto;
  padding: auto;
  width: 200px;
  filter: grayscale(100%);
}
.rounded:hover {
  filter: none;
}
@media (min-width: 900px) {
  .homepageImage {
    display: center;
    background-size: cover;
  }
}
@media (max-width: 2000px) {
  .formatHomepage (max-width: 900px) {
    display: none;
  }
}
